body {
    background: rgb(0,125,184);
    position: relative;
    margin: 0;
}

header {
    height: 53px;
    border-bottom: 1px solid rgb(0,135,199)
}

.logo {
    float: left;
    margin-top: 5px;
    margin-left: 268px;
}

header form input {
    margin-top: 11px;
    margin-left: 35px;
    height: 25px;
    width: 610px;
    position: absolute;
}

header form button {
    background: rgb(0,125,184);
    border-style: none;
    position: absolute;
    font-size: 13px;
    color: white;
    top: 13px;
    left: 917px;
    height: 28px;
    width: 44px;
}

.login img {
    float: left;
    margin-top: 10px;
    margin-left: 700px
}

.login span {
    float: left;
    margin-top: 15px;
    margin-left: 2px;
    color: white;
}

.shoppingcar img {
    float: left;
    margin-top: 10px;
    margin-left: 40px;
}

.shoppingcar span {
    float: left;
    margin-top: 15px;
    margin-left: 2px;
    color: white;
}

.login:hover {
    filter:opacity(70%);
}

.shoppingcar:hover {
    filter: opacity(70%);
}

nav {
    height: 50px;
}

nav ul {
    height: 50px;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    list-style: none;
    margin-left: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.first {
    display: block;
}

.second {
    display: none;
}

.third {
    display: none;
}

.fourth {
    display: none;
}

.images {
    height: 518px;
}

.button ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 0;
    margin-top: 0;
}

.button ul li {
    float: left;
    list-style-type: none;
    border: 1px solid gray;
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
    height: 20px;
    color: rgb(0,90,133);
}

.button {
    background-color: white;
}

.button ul li:hover {
    background-color: rgb(238,238,238);
}